$color_gold: #e4b126
svg
    width: 100%
    height: 100vh
body
    background-color: #0e042e
path
    stroke: white
    fill: transpanent 
    fill: #0a0320
    
    transition: 0.2s
    &:hover
        fill: $color_gold
        transform: translate(-5px,-5px)

    



